body {
    font-family: Arial, sans-serif;
    background-color: #080808;
    color: white;
    padding: 20px;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

header img {
    height: 65px;
    cursor: pointer;
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: white;
}

header input {
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #111;
    color: white;
}

.card-container {
    background: rgb(19, 18, 18);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(212, 99, 7, 0.5);
    margin-bottom: 20px;
    max-width: 300px;
}

.card-container h2 {
    margin-top: 0;
    color: white;
    text-align: center;
}

.card-list p {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.2);
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 0px rgba(212, 99, 7, 0.5);
    color: white;
    font-weight: 500;
}
.player-name {
    flex: 1;
}
.player-diff {
    flex: 0;
    margin-left: 10px;
}

#homeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

#citizenContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: rgb(19, 18, 18);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(182, 10, 10, 0.5);
}

#chartsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.chart-wrapper {
    width: 100%;
    height: 400px;
}

canvas {
    background-color: #111;
}
